/* - Wykorzystaj właściwości width, height oraz background-color.
- Kody kolorów to: pomarańczowy - #fea500, szary - #808080*/

h1  {
    background-color: #fea500;
    width: fit-content;
}

div {
    background-color: #808080;
    height: 3em;
}